{% extends 'base.html' %}
{% block title %} About Us {% endblock %}

{% block content %}
{{ super() }}
<div class="row row-cols-1 row-cols-md-2 g-4" style=" width: 100%;  margin-top: 15%; margin-left: 25%; margin-right: auto">
  <div class="col">
    <div class="card" >
      <div class="card-body", style="background-color: coral">
        <h5 class="card-title">About Us</h5>
        <p class="card-text"> This website will provide you with cocktails' and meals' recipes. You can enter or choose the name of your desired cocktail or meal and we will guide you how to make it.</p>
        <p class="card-text">Created by: Tiko Tsakadze and Diana Khabazi</p>
      </div>
    </div>
  </div>
      </div>



{% endblock %}